html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background:rgb(135, 97, 224);
    margin: 0;
}

footer {
    height: 30px;
    width: inherit;
    background: yellow;
    position: absolute;
    bottom: 0;
    left:0;
}
main {
    height: 100%;
    width: 100%;
    background: rgb(70, 212, 255);
}

/* main */
.borderContainer {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    height: 800px;
    /* flex: 1 1 auto; */
    background: red;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;

}
.header {
    flex: 1 1 auto;
    text-align: center;
    height: 180px;
    font-family: 'Pacifico', cursive;
    font-size: min(10vw, 64px);
    color: rgb(255, 233, 35);
}
.gridContainer {
    flex: 1 1 auto;
    width: 700px;
    max-width: 100vw;
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-gap: 2px;
    background: rgb(60, 60, 60);
    border-radius: 15px;
    overflow: hidden;
    
}
.square {
    background: rgb(225, 225, 225);
}
.shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: rgba(119, 35, 35, 0.96) 0px 0px 4px 4px inset;
    border-radius: 15px;
    pointer-events: none;
}

/* bottom container */
.bottomContainer {
  display: flex;
  height: 100%;
  /* align-items: center; */
}
.leftButton, .rightButton{
  flex: 1 1 auto;
  display: flex;
  align-items:flex-end;
}

.gridInput, .modeSelect {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.rightButton {
  flex: 1 1 auto;
  justify-content: right;
}

/* clear button styling */
.clearGrid {
    height: 125px;
    width: 125px;
    border-radius: 62.5px;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
}

