html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background:rgb(135, 97, 224);
    margin: 0;
}

footer {
    height: 30px;
    width: inherit;
    background: yellow;
    position: absolute;
    bottom: 0;
    left:0;
}
main {
    height: 100%;
    width: 100%;
    background: rgb(70, 212, 255);
}

/* main */
.borderContainer {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    height: 800px;
    /* flex: 1 1 auto; */
    background: red;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;

}
.header {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}
.header p {
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    margin: 0;
    color: rgb(255, 233, 35);
}
.gridContainer {
    flex: 1 1 auto;
    width: 700px;
    max-width: 100vw;
    height: 491px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-gap: 2px;
    background: rgb(60, 60, 60);
    border-radius: 15px;
    overflow: hidden;
    
}
.square {
    background: rgb(225, 225, 225);
}
.shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: rgba(119, 35, 35, 0.96) 0px 0px 4px 4px inset;
    border-radius: 15px;
    pointer-events: none;
}

/* bottom container */
.bottomContainer {
  display: flex;
  flex: 1 1 auto;
  /* height: 100%; */
  /* align-items: center; */
}
.leftButton, .rightButton{
  flex: 1 1 auto;
  display: flex;
  align-items:flex-end;
}

.gridInput, .modeSelect {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightButton {
  flex: 1 1 auto;
  justify-content: flex-end;
}

/* grid input styling */
.gridInput {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: rgb(255, 233, 35);
}

.gridInput label{
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.gridInput #squares {
  border-radius: 15px;
  font: inherit;
  width: 150px;
  text-align: center;
}

/* Mode select styling */
.modeSelect {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: rgb(255, 233, 35);
}


/* clear button styling */
.clearGrid {
    height: 125px;
    width: 125px;
    border-radius: 62.5px;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
}

